<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common_head :: head}"> />

<body>
	<main role="main" class="container">
		<div class="starter-template">
			<h1 th:text="#{title.item-create}" />
			<form th:action="@{/item}" method="post">
			    <fieldset>
			        <div class="form-group">
			            <input type="text" name="itemname"
			                   placeholder="Lego Roboter" required autofocus/>
			        </div>
			        <div class="form-group">
			            <input type="text" name="itemid"
			                   placeholder="123" required/>
			        </div>
			
			        <div class="row">
			            <input type="submit" th:value="#{button.create-item}" />
			        </div>
			    </fieldset>
			</form>
		</div>
	</main>
</body>
</html>