<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common_head :: head}"> />
<body>
	<main role="main" class="container">
		<div class="starter-template">
			<h1 th:text="#{title.item-list}" />
			<p th:if="${#lists.isEmpty(items)}" th:text="#{msg.empty}" />
			<ol th:unless="${#lists.isEmpty(items)}">
				<li th:each="item : ${items}" th:text="${item.name}"></li>
				<script th:inline="javascript">
        			var last = [[(${items[0].name})]];
        			popup([[(#{msg.popup})]], last);
    			</script>
			</ol>
			<h2><a th:href="@{/item-create}" th:text="#{link.create-item}" /></h2>	
		</div>
	</main>
</body>
</html>