<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<title>TODO title.head from messages.properties</title>

	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
	<main role="main" class="container">
		<div class="starter-template">
			<h1>TODO title.item-list from messages.properties</h1>
			<p>List is empty. TODO Remove this, if list has items.</p>
			<ol>
				<li>TODO Read items from model</li>
			</ol>
			<h2>TODO Create Item link</h2>	
		</div>
	</main>
</body>
</html>